{% load static %}
{% load cache %}
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-radius-lg fixed-start ms-2  bg-white my-2" id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-dark opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand px-4 py-3 m-0" href="#" target="_blank">
        <img src="{% static 'material/img/icon_edms2.png' %}" class="navbar-brand-img" width="45" height="50" alt="main_logo">
        <span class="ms-1 text-sm text-dark">EDMS</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <!-- USER -->
        {% if user.is_authenticated %}
        <li class="nav-item mb-2 mt-0">
          <a data-bs-toggle="collapse" href="#ProfileNav" class="nav-link text-dark" aria-controls="ProfileNav" role="button" aria-expanded="false">
<!--            <img src="../../assets/img/team-3.jpg" class="avatar">-->
            <span class="nav-link-text ms-2 ps-1">Nuradil Tolokov</span>
          </a>
          <div class="collapse" id="ProfileNav" style="">
            <ul class="nav ">
              <li class="nav-item">
                <a class="nav-link text-dark" href="../../pages/pages/profile/overview.html">
                  <span class="sidenav-mini-icon"> MP </span>
                  <span class="sidenav-normal  ms-3  ps-1"> My Profile </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark " href="../../pages/pages/account/settings.html">
                  <span class="sidenav-mini-icon"> S </span>
                  <span class="sidenav-normal  ms-3  ps-1"> Settings </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark " href="../../pages/authentication/signin/basic.html">
                  <span class="sidenav-mini-icon"> L </span>
                  <span class="sidenav-normal  ms-3  ps-1"> Logout </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        {% endif %}

      {% for sidebar_group in sidebar_urls %}
        <li class="nav-item mb-2 mt-0">
          <a data-bs-toggle="collapse" href="#group{{ forloop.counter }}" class="nav-link text-dark" role="button" aria-expanded="false" aria-controls="group{{ forloop.counter }}">
            <i class="{{ sidebar_group.icon|safe }} nav-icon"></i>
            <span class="nav-link-text ms-2 ps-1">{{ sidebar_group.name }}</span>
          </a>
          <div class="collapse" id="group{{ forloop.counter }}">
            <ul class="nav">
              {% for url_item in sidebar_group.items.all %}
                {% if url_item.children.all %}
                  <li class="nav-item mb-1">
                    <a data-bs-toggle="collapse" href="#item{{ forloop.parentloop.counter }}_{{ forloop.counter }}" class="nav-link text-dark" role="button" aria-expanded="false" aria-controls="item{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
                      <i class="{{ url_item.icon|safe }} nav-icon"></i>
                      <span class="nav-link-text ms-2 ps-1">{{ url_item.name }}</span>
                    </a>
                    <div class="collapse" id="item{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
                      <ul class="nav">
                        {% for child in url_item.children.all %}
                          <li class="nav-item">
                            <a href="{% url child.available_url.url_name %}" class="nav-link text-dark">
                              <span class="sidenav-mini-icon"> • </span>
                              <span class="sidenav-normal ms-3 ps-1">{{ child.name }}</span>
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a href="{% url url_item.available_url.url_name %}" class="nav-link text-dark">
                      <i class="{{ url_item.icon|safe }} nav-icon"></i>
                      <span class="nav-link-text ms-2 ps-1">{{ url_item.name }}</span>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </li>
      {% endfor %}




      </ul>
    </div>
    <div class="sidenav-footer position-absolute w-100 bottom-0 ">
      <div class="mx-3">
<!-- что нибудь можно поставить футер сайдбара-->
      </div>
    </div>
  </aside>
