{% extends 'base_page.html' %}
{% load static %}
{% block extra_css %}
 {{ form.media.css }}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xl-6 col-lg-8 col-md-8">
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">{{ title }}</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="card-body">
            {% for field in form %}
              <div class="form-group">
                {% if field|field_type == 'ClearableFileInput' %}
                  {{ field.label_tag }}
                    <div class="custom-file">
                      {{ field }}
                      <label class="custom-file-label" for="{{ field.id_for_label }}">{{ field.value|default:"Choose file" }}</label>
                    </div>
                  {% elif field|field_type == 'SelectMultiple' %}
                  {{ field.label_tag }}
                  <div class="input-group mb-3">

                    {{ field }}
                    <div class="invalid-feedback" style="display: block;">
                      {{ field.errors }}
                    </div>
                  </div>
                {% elif field|field_type == 'CheckboxInput' %}
                 <div class="form-group d-flex">
                      <label for="id_{{ field.name }}" style="padding-top: 8px">{{field.label}}:</label>
                      <input type="checkbox" name="{{ field.name }}" class="form-control" id="id_{{ field.name }}"
                      style="width: 23px; margin-left: 10px" {% if field.value %}checked{% endif %}>
                  </div>

                  {% else %}
                  {{ field.label_tag }}
                  {{ field }}
                {% endif %}
                {% if field.help_text %}
                  <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
                {% if field.errors %}
                  <p class="error">{{ field.errors }}</p>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </form>
      </div>
  </div>
</div>

{% endblock %}
{% block extra_js %}
 {{ form.media.js }}
{% endblock %}
